.detail-container{
    .user-content{
        margin: 15px 0px;
        .fullName{
            margin-bottom: 10px ;
        }
        .email{
            margin-bottom: 10px ;

        }
    }
    .btn-back{
        cursor: pointer;
    }
}